<div class="phieuDangKyChuyenSinhHoat">
    <p>
        <a href="@Url.Action("DangKyChuyenSinhHoat","DangKyChuyenSinhHoat")" class="navbar-brand">Xem kết quả đăng ký</a>
        <br />
        <hr />
    </p>
</div>
