@using QuanLyDoanVienProject.Models;
@model IEnumerable<HoatDong>

@{
    ViewBag.Title = "Rèn luyện";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@{ 
    IEnumerable<HoatDong> hoatDongs = ViewBag.listHoatDong as IEnumerable<HoatDong>;
}

<div class="container">
    <div>
        @Html.Action("PhieuDangKyHoatDongPartial", "DangKyChuongTrinh")
        <br />
    </div>
    <div class="container">
        @Html.Partial("~/Views/DangKyChuongTrinh/DangKyHoatDongPartial.cshtml", hoatDongs)
        <br />
    </div>
    


</div>

