<div class="phieuDangKyHoatDong">
    <p>
        <a href="@Url.Action("DangKyChuongTrinh","DangKyChuongTrinh")" class="navbar-brand">Xem danh sách hoạt động đã đăng ký</a>
        <br />
        <span style="color:red;text-align:center;padding-left:35px">>> -- Đã đăng ký <span>@ViewBag.TongSoLuong</span> hoat động -- <<</span>
        <hr />
    </p>
</div>
