@using QuanLyDoanVienProject.Models
@model IEnumerable<DoanVien>

@{
    ViewBag.Title = "QuanLyDoanVien";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 20);
}
<center>
    <h3>DANH SÁCH ĐOÀN VIÊN</h3>
    <br />
    <br />
    @webGrid.GetHtml(
    tableStyle:"gridTable",
    headerStyle:"gridHead",
    footerStyle: "gridFooter",
    rowStyle:"gridRow",
    alternatingRowStyle:"gridAltRow",
    columns: webGrid.Columns(
        webGrid.Column("MaSinhVien", "Mã sinh viên"),
        webGrid.Column("HoTenDoanVien", "Họ tên đoàn viên"),
        webGrid.Column("GioiTinh", "Giới tính"),
        webGrid.Column("NgaySinh", "Ngày sinh"),
        webGrid.Column("DanToc", "Dân tộc"),
        webGrid.Column("TonGiao", "Tôn giáo"),
        webGrid.Column("QueQuan", "Quê quán"),
        webGrid.Column("NoiOHienNay", "Nơi ở hiện nay"),
        webGrid.Column("NgayVaoDang", "Ngày vào Đảng"),
        webGrid.Column("SoDienThoai", "Số điện thoại"),
        webGrid.Column("MaSoDoan", "Mã sổ đoàn"),
        webGrid.Column("AccountID", "Mã tài khoản"),
        webGrid.Column(format: p=>Html.ActionLink("Chỉnh sửa","ChinhSua",new { MaSinhVien=p.MaSinhVien})),
        webGrid.Column(format: p => Html.ActionLink("Xóa", "Xoa", new { MaSinhVien = p.MaSinhVien }))
        ))

</center>
<div>
    @Html.ActionLink("Thêm đoàn viên", "TaoMoiDoanVien")
    <br />
    <br />
</div>

<style>
    .gridTable{
        width:100%;
        border: 1px solid #0026ff;
    }
    .gridTable td {
        padding-left:2px;
        padding-right:2px;
        border: 1px solid #0026ff;
    }
    .gridHead {
        padding-left: 2px;
        padding-right: 2px;
        background-color: green;
       
    }
    .gridHead > th > a {
        color:#ffffff;
    }
    .gridFooter{
        font-weight:bold;
    }
</style>
