@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<!-- content -->
<div>
    <h5 style="color:green;text-align:center">Chào mừng @Session["AccountID"].ToString() đã đến với Hệ thống Quản lý đoàn viên trực tuyến</h5>
</div>
