@using QuanLyDoanVienProject.Models
@model IEnumerable<DoanCoSo>
@{
    ViewBag.Title = "QuanLyDoanCoSo";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 20);
}

<center>
    <h3>DANH SÁCH ĐOÀN CƠ SỞ</h3>
    <br />
    <br />
    @webGrid.GetHtml(
        tableStyle:"gridTable",
        headerStyle:"gridHead",
        footerStyle: "gridFooter",
        rowStyle:"gridRow",
        alternatingRowStyle:"gridAltRow",
        columns: webGrid.Columns(
            webGrid.Column("MaDoanCoSo", "Mã Đoàn Cơ sở"),
            webGrid.Column("TenDoanCoSo", "Tên Đoàn Cơ sở"),
            webGrid.Column("TenDCSVietTat", "Tên Đoàn Cơ sở viết tắt"),
            webGrid.Column(format: p => Html.ActionLink("Chỉnh sửa", "ChinhSua", new { MaDoanCoSo = p.MaDoanCoSo })),
            webGrid.Column(format: p => Html.ActionLink("Xóa", "Xoa", new { MaDoanCoSo = p.MaDoanCoSo }))
            ))
</center>
<div>
    @Html.ActionLink("Thêm Đoàn Cơ sở", "ThemDoanCoSo")
    <br />
    <br />
</div>
<style>
    .gridTable {
        width: 100%;
        border: 1px solid #0026ff;
    }

        .gridTable td {
            padding-left: 2px;
            padding-right: 2px;
            border: 1px solid #0026ff;
        }

    .gridHead {
        padding-left: 2px;
        padding-right: 2px;
        background-color: green;
    }

        .gridHead > th > a {
            color: #ffffff;
        }

    .gridFooter {
        font-weight: bold;
    }
</style>

