@using QuanLyDoanVienProject.Models
@model IEnumerable<HoatDong>

@{
    //khoi tao control webgrid
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 20);
    ViewBag.Title = "QuanLyHoatDong";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<center>
    <h3>DANH SÁCH CÁC HOẠT ĐỘNG</h3>
    <br />
    <br />
    @webGrid.GetHtml(
        tableStyle:"gridTable",
        headerStyle:"gridHead",
        footerStyle: "gridFooter",
        rowStyle:"gridRow",
        alternatingRowStyle:"gridAltRow",
        columns: webGrid.Columns(
            webGrid.Column("MaHoatDong", "Mã hoạt động"),
            webGrid.Column("TenHoatDong", "Tên hoạt động"),
            webGrid.Column("ThoiGianBauDau", "Thời gian bắt đầu"),
            webGrid.Column("ThoiGianKetThuc", "Thời gian kết thúc"),
            webGrid.Column("DiaDiem", "Địa điểm tổ chức"),
            webGrid.Column("MaCapHoatDong", "Mã cấp hoạt động"),
            webGrid.Column(format: p => Html.ActionLink("Chỉnh sửa", "ChinhSua", new { MaHoatDong = p.MaHoatDong })),
            webGrid.Column(format: p => Html.ActionLink("Xóa", "Xoa", new { MaHoatDong = p.MaHoatDong }))
            ))
</center>
<style>
    .gridTable {
        width: 100%;
        border: 1px solid #0026ff;
    }

        .gridTable td {
            padding-left: 2px;
            padding-right: 2px;
            border: 1px solid #0026ff;
        }

    .gridHead {
        padding-left: 2px;
        padding-right: 2px;
        background-color: green;
    }

        .gridHead > th > a {
            color: #ffffff;
        }

    .gridFooter {
        font-weight: bold;
    }
</style>
